<div class="horizontal-flex">
    <form class="horizontal-form" [formGroup]="form">
        <label for="name" translate>labels.network.name</label>
        <input [(ngModel)]="network.name" formControlName="name" type="text" id="name" name="Name"
               placeholder="{{'labels.network.name' | translate}}">
        <form-errors [control]="form.controls.name"></form-errors>

        <button class="btn btn-sm btn-primary mr-2" (click)="edit(network)" [disabled]=form.invalid translate>actions.edit</button>
    </form>
</div>
