<app-login-navigation *ngIf="!authService.isLoggedIn()" [logIn]="true"></app-login-navigation>
<div class="horizontal-flex">
    <form class="horizontal-form" [formGroup]="form">
        <label for="login" translate>labels.login</label>
        <input [(ngModel)]="personalData.account.username" formControlName="login" type="text" id="login" name="Login"
               placeholder="{{'labels.login' | translate}}">
        <form-errors [control]="form.controls.login"></form-errors>

        <label for="password" translate>labels.password</label>
        <input [(ngModel)]="personalData.account.password" formControlName="password" type="password" id="password" name="Password"
               placeholder="{{'labels.password' | translate}}">
        <form-errors [control]="form.controls.password"></form-errors>

        <label for="email" translate>labels.email</label>
        <input [(ngModel)]="personalData.email" formControlName="email" type="text" id="email" name="Email"
               placeholder="{{'labels.email' | translate}}">
        <form-errors [control]="form.controls.email"></form-errors>

        <label for="phoneNumber" translate>labels.phoneNumber</label>
        <input [(ngModel)]="personalData.phoneNumber" formControlName="phoneNumber" type="text" id="phoneNumber" name="Email"
               placeholder="{{'labels.phoneNumber' | translate}}">
        <form-errors [control]="form.controls.phoneNumber"></form-errors>

        <label for="firstName" translate>labels.firstName</label>
        <input [(ngModel)]="personalData.firstName" formControlName="firstName" type="text" id="firstName" name="LastName"
               placeholder="{{'labels.firstName' | translate}}">
        <form-errors [control]="form.controls.firstName"></form-errors>

        <label for="lastName" translate>labels.lastName</label>
        <input [(ngModel)]="personalData.lastName" formControlName="lastName" type="text" id="lastName" name="Password"
               placeholder="{{'labels.lastName' | translate}}">
        <form-errors [control]="form.controls.lastName"></form-errors>

        <button class="btn btn-sm btn-primary mr-2" (click)="register()" [disabled]="form.invalid" translate>actions.register</button>
    </form>
</div>
