<app-actions [edit]="authService.isAdmin()" [delete]="authService.isAdmin()" (deleteEvent)="delete(location.code)"></app-actions>
<app-details [labels]="labels()" [values]="values(location)"></app-details>
