<div class="modal-header">
    <h4 class="modal-title" translate>actions.confirm</h4>
</div>
<div class="modal-body">
    <p translate>messages.confirm</p>
</div>
<div class="modal-footer">
    <button name="No" type="button" class="btn btn-outline-dark" (click)="activeModal.close('NO')" translate>actions.no</button>
    <button name="Yes" type="button" class="btn btn-outline-dark" (click)="activeModal.close('YES')" translate>actions.yes</button>
</div>
