<div class="modal-body">
    <app-details [values]="values(personalData)" [labels]="labels()"></app-details>
</div>
<div class="modal-footer">
    <button name="Ok" type="button" class="btn btn-outline-dark" (click)="activeModal.close('OK')" translate>actions.ok</button>
</div>
