<app-actions [add]="authService.isClient()"></app-actions>
<app-search-bar [values]="announcements" [by]="'title'" (valuesEvent)="setFilteredValues($event)"></app-search-bar>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" translate>labels.hash</th>
        <th scope="col" translate>labels.announcement.title</th>
        <th scope="col" translate>labels.announcement.description</th>
        <th scope="col" translate>labels.announcement.fromCryptocurrency</th>
        <th scope="col" translate>labels.announcement.fromAmount</th>
        <th scope="col" translate>labels.announcement.toAmount</th>
        <th scope="col" translate>labels.announcement.toCryptocurrency</th>
        <th scope="col" translate>labels.announcement.code</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let announcement of filteredAnnouncements; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{announcement.title}}</td>
        <td>{{announcement.description}}</td>
        <td>{{announcementMapper.makeNameCodeNetworkRecord(announcement.fromCryptocurrency?.name, announcement.fromCryptocurrency?.network?.code)}}</td>
        <td>{{announcement.fromAmount}}</td>
        <td>{{announcementMapper.makeNameCodeNetworkRecord(announcement.toCryptocurrency?.name, announcement.toCryptocurrency?.network?.code)}}</td>
        <td>{{announcement.toAmount}}</td>
        <td><a id="code" [routerLink]="announcement.code">{{announcement.code}}</a></td>
    </tr>
    </tbody>
</table>
