<div class="horizontal-flex">
    <form class="horizontal-form" [formGroup]="form">
        <label for="name" translate>labels.cryptocurrency.name</label>
        <input [(ngModel)]="cryptocurrency.name" formControlName="name" type="text" id="name" name="Name"
               placeholder="{{'labels.cryptocurrency.name' | translate}}">
        <form-errors [control]="form.controls.name"></form-errors>

        <label for="contract" translate>labels.cryptocurrency.contract</label>
        <input [(ngModel)]="cryptocurrency.contract" formControlName="contract" type="text" id="contract" name="Name"
               placeholder="{{'labels.cryptocurrency.contract' | translate}}">
        <form-errors [control]="form.controls.contract"></form-errors>

        <label for="decimals" translate>labels.cryptocurrency.decimals</label>
        <input [(ngModel)]="cryptocurrency.decimals" formControlName="decimals" type="number" id="decimals" name="Name"
               placeholder="{{'labels.cryptocurrency.decimals' | translate}}">
        <form-errors [control]="form.controls.decimals"></form-errors>

        <button class="btn btn-sm btn-primary mr-2" (click)="edit(cryptocurrency)" [disabled]=form.invalid translate>actions.edit</button>
    </form>
</div>
