<div id="details" class="container custom-container">
    <div class="row row-cols-2" *ngFor="let label of labels; index as i">
        <div class="col">
            <p class="p-2 text-center bg-light" translate>{{label}}</p>
        </div>
        <div class="col">
            <p class="p-2 text-center fw-bold bg-light">{{values[i]}}</p>
        </div>
    </div>
</div>
