<div class="horizontal-flex">
    <form class="horizontal-form" [formGroup]="form">
        <label for="login" translate>labels.login</label>
        <input [(ngModel)]="account.username" formControlName="login" type="text" id="login" name="Login"
               placeholder="{{'labels.login' | translate}}">
        <form-errors [control]="form.controls.login"></form-errors>

        <label for="login" translate>labels.password</label>
        <input [(ngModel)]="account.password" formControlName="password" type="text" id="password" name="Password"
               placeholder="{{'labels.password' | translate}}">
        <form-errors [control]="form.controls.password"></form-errors>

        <button class="btn btn-sm btn-primary mr-2" (click)="setNewPassword()" [disabled]="form.invalid" translate>actions.setNewPassword</button>
    </form>
</div>
