<app-actions [add]="authService.isAdmin()"></app-actions>
<app-search-bar [values]="personalData" [by]="'firstName'" (valuesEvent)="setFilteredValues($event)"></app-search-bar>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" translate>labels.hash</th>
        <th scope="col" translate>labels.personalData.firstName</th>
        <th scope="col" translate>labels.personalData.lastName</th>
        <th scope="col" translate>labels.personalData.phoneNumber</th>
        <th scope="col" translate>labels.personalData.email</th>
        <th scope="col" translate>labels.account.active</th>
        <th scope="col" translate>labels.account.username</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let personal of filteredPersonalData; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{personal.firstName}}</td>
        <td>{{personal.lastName}}</td>
        <td>{{personal.phoneNumber}}</td>
        <td>{{personal.email}}</td>
        <td translate>{{personal.account?.active}}</td>
        <td><a [routerLink]="personal.account.username">{{personal.account.username}}</a></td>
    </tr>
    </tbody>
</table>
