<div class="modal-body container text-center">
    <p translate>{{message}}</p>
</div>
<div class="modal-footer">
    <button name="Ok" type="button" class="btn btn-outline-dark" (click)="activeModal.close('OK')" translate>actions.ok</button>
</div>
