<div class="horizontal-flex">
    <form class="horizontal-form" [formGroup]="form">
        <label for="name" translate>labels.cryptocurrency.name</label>
        <input [(ngModel)]="cryptocurrency.name" formControlName="name" type="text" id="name" name="Name"
               placeholder="{{'labels.cryptocurrency.name' | translate}}">
        <form-errors [control]="form.controls.name"></form-errors>

        <label for="code" translate>labels.cryptocurrency.code</label>
        <input [(ngModel)]="cryptocurrency.code" formControlName="code" type="text" id="code" name="Code"
               placeholder="{{'labels.cryptocurrency.code' | translate}}">
        <form-errors [control]="form.controls.code"></form-errors>

        <label for="contract" translate>labels.cryptocurrency.contract</label>
        <input [(ngModel)]="cryptocurrency.contract" formControlName="contract" type="text" id="contract" name="Contract"
               placeholder="{{'labels.cryptocurrency.contract' | translate}}">
        <form-errors [control]="form.controls.contract"></form-errors>

        <label for="decimals" translate>labels.cryptocurrency.decimals</label>
        <input [(ngModel)]="cryptocurrency.decimals" formControlName="decimals" type="number" id="decimals" name="Decimals"
               placeholder="{{'labels.cryptocurrency.decimals' | translate}}">
        <form-errors [control]="form.controls.decimals"></form-errors>

        <select [(ngModel)]="cryptocurrency.network" formControlName="network" name="network">
            <option *ngFor="let network of networks" [ngValue]="network">{{network.code}}</option>
        </select>
        <form-errors [control]="form.controls.network"></form-errors>

        <button name="Add" class="btn btn-sm btn-primary mr-2" (click)="add(cryptocurrency)" [disabled]="form.invalid" translate>actions.add</button>
    </form>
</div>
