<app-actions [edit]="authService.isClientOrAdmin()" [deactivate]="canDeactivateAccount()" (deleteEvent)="delete(personalData.account.username)"
                [activate]="!personalData.account?.active" (activateEvent)="activateAccount()"></app-actions>
<app-details [labels]="labels()" [values]="values(personalData)"></app-details>
