<app-actions [edit]="authService.isAdmin()" [delete]="authService.isAdmin()" (deleteEvent)="delete(cryptocurrency.code)"></app-actions>
<app-details [labels]="labels()" [values]="values(cryptocurrency)"></app-details>
