<div class="container">
    <p>
        <button class="btn btn-warning" *ngIf="reset" [routerLink]="'../reset'" translate>actions.resetPassword</button>
        <button class="btn btn-warning" *ngIf="register" [routerLink]="'../register'" translate>actions.register</button>
        <button class="btn btn-success" *ngIf="announcement" id="announcement" [routerLink]="'../main/announcements'" translate>link.announcements</button>
        <button class="btn btn-warning" *ngIf="logIn" [routerLink]="'login'" translate>actions.logIn</button>
    </p>
</div>
