<div class="actions">
    <button name="Add" *ngIf="add" class="btn btn-sm btn-primary mr-2" [routerLink]="'add'" translate>actions.add</button>
    <button name="Edit" *ngIf="edit" class="btn btn-sm btn-primary mr-2" [routerLink]="'edit'" translate>actions.edit</button>
    <button name="Delete" *ngIf="delete" class="btn btn-sm btn-primary mr-2" (click)="deleteObject()" translate>actions.delete</button>
    <button name="Deactivate" *ngIf="deactivate" class="btn btn-sm btn-primary mr-2" (click)="deleteObject()" translate>actions.deactivate</button>
    <button name="Activate" *ngIf="activate" class="btn btn-sm btn-primary mr-2" (click)="activateObject()" translate>actions.activate</button>
</div>
