<p>
    <button name="Accounts" class="btn btn-success" *ngIf="authService.isAdmin()" [routerLink]="['personaldata']" translate>link.accounts</button>
    <button name="Announcements" class="btn btn-success" [routerLink]="['announcements']" translate>link.announcements</button>
    <button name="Cryptocurrencies" class="btn btn-success" *ngIf="authService.isClientOrAdmin()" [routerLink]="['cryptocurrencies']" translate>link.cryptocurrencies</button>
    <button name="Networks" class="btn btn-success" *ngIf="authService.isClientOrAdmin()" [routerLink]="['networks']" translate>link.networks</button>
    <button name="Locations" class="btn btn-success" *ngIf="authService.isClientOrAdmin()" [routerLink]="['locations']" translate>link.locations</button>
    <button name="Account" class="btn btn-success" *ngIf="authService.isClientOrAdmin()" [routerLink]="['personaldata/own']" translate>link.account</button>
    <button name="Logout" class="btn btn-warning" *ngIf="authService.isLoggedIn()" [routerLink]="['']" (click)="logOut()" translate>actions.logOut</button>
    <button name="Logout" class="btn btn-warning" *ngIf="!authService.isLoggedIn()" [routerLink]="['/login']" translate>actions.logIn</button>
</p>
