<app-actions [edit]="authService.isAdmin()" [delete]="authService.isAdmin()" (deleteEvent)="delete(network.code)"></app-actions>
<app-details [labels]="labels()" [values]="values(network)"></app-details>
