<div class="horizontal-flex">
    <form class="horizontal-form" [formGroup]="form">
        <label for="name" translate>labels.personalData.firstName</label>
        <input [(ngModel)]="personalData.firstName" formControlName="firstName" type="text" id="firstName" name="FirstName"
               placeholder="{{'labels.personalData.firstName' | translate}}">
        <form-errors [control]="form.controls.firstName"></form-errors>

        <label for="name" translate>labels.personalData.lastName</label>
        <input [(ngModel)]="personalData.lastName" formControlName="lastName" type="text" id="lastName" name="LastName"
               placeholder="{{'labels.personalData.lastName' | translate}}">
        <form-errors [control]="form.controls.lastName"></form-errors>

        <label for="name" translate>labels.personalData.phoneNumber</label>
        <input [(ngModel)]="personalData.phoneNumber" formControlName="phoneNumber" type="text" id="name" name="Name"
               placeholder="{{'labels.personalData.phoneNumber' | translate}}">
        <form-errors [control]="form.controls.phoneNumber"></form-errors>

        <button class="btn btn-sm btn-primary mr-2" (click)="edit(personalData)" [disabled]=form.invalid translate>actions.edit</button>
    </form>
</div>
