<div class="">
    <label for="typeahead-focus" translate>actions.search</label>
    <input
        id="typeahead-focus"
        type="text"
        class="form-control"
        [(ngModel)]="model"
        (keyup)="search()"
    />
</div>
