.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .top {
        width: 100%;
        height: 10%;
        align-items: center;
        display: flex;

        app-navigation {
            width: 100%;
        }
    }

    .middle {
        width: 100%;
    }
}
