<app-actions [add]="authService.isAdmin()"></app-actions>
<app-search-bar [values]="cryptocurrencies" [by]="'name'" (valuesEvent)="setFilteredValues($event)"></app-search-bar>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" translate>labels.hash</th>
        <th scope="col" translate>labels.cryptocurrency.name</th>
        <th scope="col" translate>labels.cryptocurrency.contract</th>
        <th scope="col" translate>labels.cryptocurrency.decimals</th>
        <th scope="col" translate>labels.network.code</th>
        <th scope="col" translate>labels.cryptocurrency.code</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cryptocurrency of filteredCryptocurrencies; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{cryptocurrency.name}}</td>
        <td>{{cryptocurrency.contract}}</td>
        <td>{{cryptocurrency.decimals}}</td>
        <td>{{cryptocurrency.network.code}}</td>
        <td><a [routerLink]="cryptocurrency.code">{{cryptocurrency.code}}</a></td>
    </tr>
    </tbody>
</table>
