<app-actions [delete]="canDeleteAnnouncement()" (deleteEvent)="delete(announcement.code)"></app-actions>
<app-details [labels]="labels()" [values]="values(announcement)"></app-details>
<div class="container text-center">
    <button class="btn btn-sm btn-primary mr-2" (click)="contact()" translate>actions.contact</button>
</div>
