<div class="horizontal-flex">
    <form class="horizontal-form" [formGroup]="form">
        <label for="name" translate>labels.network.name</label>
        <input [(ngModel)]="network.name" formControlName="name" type="text" id="name" name="Name"
               placeholder="{{'labels.network.name' | translate}}">
        <form-errors [control]="form.controls.name"></form-errors>

        <label for="code" translate>labels.network.code</label>
        <input [(ngModel)]="network.code" formControlName="code" type="text" id="code" name="Code"
               placeholder="{{'labels.network.code' | translate}}">
        <form-errors [control]="form.controls.code"></form-errors>

        <button name="Add" class="btn btn-sm btn-primary mr-2" (click)="add(network)" [disabled]="form.invalid" translate>actions.add</button>
    </form>
</div>
