<app-actions [add]="authService.isAdmin()"></app-actions>
<app-search-bar [values]="networks" [by]="'name'" (valuesEvent)="setFilteredValues($event)"></app-search-bar>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" translate>labels.hash</th>
        <th scope="col" translate>labels.network.name</th>
        <th scope="col" translate>labels.network.code</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let network of filteredNetworks; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{network.name}}</td>
        <td><a [routerLink]="network.code">{{network.code}}</a></td>
    </tr>
    </tbody>
</table>
