<app-login-navigation [reset]="true" [register]="true" [announcement]="true"></app-login-navigation>
<div class="horizontal-flex">
    <form class="horizontal-form" [formGroup]="form">
        <label for="login" translate>labels.login</label>
        <input [(ngModel)]="login" formControlName="login" type="text" id="login" name="Login"
               placeholder="{{'labels.login' | translate}}">
        <form-errors [control]="form.controls.login"></form-errors>

        <label for="password" translate>labels.password</label>
        <input [(ngModel)]="password" formControlName="password" type="password" id="password" name="Password"
               placeholder="{{'labels.password' | translate}}">
        <form-errors [control]="form.controls.password"></form-errors>

        <button class="btn btn-sm btn-primary mr-2" (click)="logIn()" [disabled]="form.invalid" id="loginButton" translate>actions.logIn</button>
    </form>
</div>
