<app-actions [add]="authService.isAdmin()"></app-actions>
<app-search-bar [values]="locations" [by]="'name'" (valuesEvent)="setFilteredValues($event)"></app-search-bar>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" translate>labels.hash</th>
        <th scope="col" translate>labels.location.name</th>
        <th scope="col" translate>labels.location.code</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let location of filteredLocations; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{location.name}}</td>
        <td><a [routerLink]="location.code">{{location.code}}</a></td>
    </tr>
    </tbody>
</table>
