<div class="horizontal-flex">
    <form class="horizontal-form" [formGroup]="form">
        <label for="title" translate>labels.announcement.title</label>
        <input [(ngModel)]="announcement.title" formControlName="title" type="text" id="title" name="Title"
               placeholder="{{'labels.announcement.title' | translate}}">
        <form-errors [control]="form.controls.title"></form-errors>

        <label for="description" translate>labels.announcement.description</label>
        <input [(ngModel)]="announcement.description" formControlName="description" type="text" id="description" name="Description"
               placeholder="{{'labels.announcement.description' | translate}}">
        <form-errors [control]="form.controls.description"></form-errors>

        <label for="fromCryptocurrency" translate>labels.announcement.fromCryptocurrency</label>
        <select [(ngModel)]="announcement.fromCryptocurrency" name="FromCryptocurrency" id="fromCryptocurrency" formControlName="fromCryptocurrency">
            <option *ngFor="let cryptocurrency of cryptocurrencies" [ngValue]="cryptocurrency">{{prepareCryptocurrency(cryptocurrency)}}</option>
        </select>

        <label for="fromAmount" translate>labels.announcement.fromAmount</label>
        <input [(ngModel)]="announcement.fromAmount" formControlName="fromAmount" type="text" id="fromAmount" name="FromAmount"
               placeholder="{{'labels.announcement.fromAmount' | translate}}">
        <form-errors [control]="form.controls.fromAmount"></form-errors>

        <label for="toCryptocurrency" translate>labels.announcement.toCryptocurrency</label>
        <select [(ngModel)]="announcement.toCryptocurrency" name="ToCryptocurrency" id="toCryptocurrency" formControlName="toCryptocurrency">
            <option *ngFor="let cryptocurrency of cryptocurrencies" [ngValue]="cryptocurrency">{{prepareCryptocurrency(cryptocurrency)}}</option>
        </select>

        <label for="toAmount" translate>labels.announcement.toAmount</label>
        <input [(ngModel)]="announcement.toAmount" formControlName="toAmount" type="text" id="toAmount" name="ToAmount"
               placeholder="{{'labels.announcement.toAmount' | translate}}">
        <form-errors [control]="form.controls.toAmount"></form-errors>


        <label for="location" translate>labels.announcement.location</label>
        <select [(ngModel)]="announcement.location" id="location" name="Location" formControlName="location">
            <option *ngFor="let location of locations" [ngValue]="location">{{location.name}}</option>
        </select>
        <form-errors [control]="form.controls.location"></form-errors>

        <button class="btn btn-sm btn-primary mr-2" (click)="add(announcement)" [disabled]="form.invalid" name="Add" translate>actions.add</button>
    </form>
</div>
