<div *ngIf="control?.hasError('required') && control?.touched" translate>validation.required</div>
<div *ngIf="control?.hasError('maxlength')" translate>validation.maxLength</div>
<div *ngIf="control?.hasError('minlength')" translate>validation.minLength</div>
