body {
    margin: 0;
}

.horizontal-flex {
    display: flex;
    flex-direction: column;
}

.horizontal-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    * {
        margin-top: 15px;
    }
}

.container .custom-container {
    width: 50%;
}
