<div class="horizontal-flex">
    <form class="horizontal-form" [formGroup]="form">
        <label for="name" translate>labels.location.name</label>
        <input [(ngModel)]="location.name" formControlName="name" type="text" id="name" name="Name"
               placeholder="{{'labels.location.name' | translate}}">
        <form-errors [control]="form.controls.name"></form-errors>

        <button class="btn btn-sm btn-primary mr-2" (click)="edit(location)" [disabled]=form.invalid translate>actions.edit</button>
    </form>
</div>
