<app-login-navigation [logIn]="true"></app-login-navigation>
<div class="horizontal-flex">
    <form class="horizontal-form" [formGroup]="form">
        <label for="login" translate>labels.login</label>
        <input [(ngModel)]="login" formControlName="login" type="text" id="login" name="Login"
               placeholder="{{'labels.login' | translate}}">
        <form-errors [control]="form.controls.login"></form-errors>

        <button class="btn btn-sm btn-primary mr-2" (click)="resetPassword()" [disabled]="form.invalid" translate>actions.resetPassword</button>
    </form>
</div>
